<h1>Main page</h1>
<p>Welcome!</p>
<div class="products">
    <div class="product">
        <h2>Pen</h2>
        <a href="/products/pen">More...</a>
    </div>
    <div class="product">
        <h2>Textbook</h2>
        <a href="/products/notebook">More...</a>
    </div>
</div>
